/* Title Section */

#title {
  background-color: #FF4C68;
  color: #FFF;
  padding:0 7% ;
  text-align: left;
}

.container-fluid {
  padding: 7% 15%;
}

body {
  font-family: 'Montserrat';
  font-weight: bold;
  text-align: center;
}
/* Heading Section */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
  font-style: bold;
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

.big-heading {
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
  padding-top: 3rem;

  /* padding-top: 3rem; */
}

.section-heading {
  font-size: 3 rem;
  line-height: 1.5;
}

/* Navigation Bar  */

.navbar {
  padding: 0 0 4.5rem ;

}

.navbar-brand {
  /* font-size:10px; */
  font-family: "Ubuntu";
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.5rem;
  /* font-family: "Montserrat-light"; */
}

/* Download-Buttons */
.download-button {
  margin: 5% 3% 5% 0%;
}

.title-image {
  width: 45%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
  top: 10%;
}

/* Features Sectiom*/
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.features-title {
  font-size: 1.5rem;
}

.feature-box {
  text-align: center;
  padding: 4.5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #FF4C68;
}

/* Testimonials section */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing section */
#pricing {
  padding: 100px;
  text-align: center;
  font-weight: bolder;
}

.price-text {
  font-size: 3rem;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA SECTION */
#cta {
  background-color: #FF4C68;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer Sectiom */
#footer {
  padding: 7% 15%;
  text-align: center;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
    /* width: 60%; */
  }

  #testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
    border-bottom: 20px;
  }

  #carouselExampleControls {
    padding-bottom: auto;
  }
}

#navbarSupportedContent {
  text-align: right;
}
.fa-instagram
{
  color: black;
}

.fa-instagram:hover{

color: #ff3399;
}

.fa-envelope:hover{

color:  #cc0000;
}

.fa-twitter:hover{

color:  #4da6ff;
}

.fa-facebook-f:hover{

color:  #003d99;
}

.social-icon {
  margin: 20px 10px;
}
